<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Train Ticket</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />



<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" />
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#">Train Ticket</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>



		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="ml-auto nav-item authenticated dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="profile-name"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
					<div class="dropdown-menu" aria-labelledby="profile-name">
						<a class="dropdown-item" href="#" onclick="logout()">Sign Out</a>
					</div></li>
				<li class="ml-auto nav-item unauthenticated"><a
					class="nav-link" href="#" data-toggle="modal"
					data-target="#signInModal">Sign In</a></li>
			</ul>
		</div>
	</nav>
	
		<main role="main">
			<div class="jumbotron">
				<div class="container">
					<form autocomplete="off" method="POST" id="myForm" action="#"
						th:action="@{/search/display.html}"
						th:object="${searchModel}">



						<input checked type="radio" id="oneway" name="tripType"
							th:field="*{tripType}" th:value="OneWay"
							onclick="disableReturnDate()"> <label for="oneway">OneWay</label>



						<input type="radio" id="roundTrip" th:field="*{tripType}"
							th:value="RoundTrip" name="tripType" onclick="enableReturnDate()">
						<label for="roundTrip">RoundTrip</label> <input type="text"
							id="fromStn" name="station" th:field="*{fromStn}" size="25"
							list="huge_from_list" oninput="onFromSationKeyPress(this.value)"
							placeholder="From City" required>
						<datalist id="huge_from_list"></datalist>



						<input type="text" id="toStn" name="station" size="25"
							th:field="*{toStn}" list="huge_to_list"
							oninput="onToSationKeyPress(this.value)" placeholder="To City" required>
						<datalist id="huge_to_list"></datalist>




						<input type="date" id="departureDate" style="width: 150px"
							min="setMinDate()" th:field="*{departureDate}" name="date">



						<input type="date" id="arrivalDate" th:field="*{arrivalDate}"
							style="width: 150px" min="setMinDateForReturn()" name="date">




						<input type="number" id="numberOfTickets" name="tentacles"
							th:field="*{numberOfTickets}" value="1" min="1" max="10">



						<button type="submit" form="myForm" value="Submit">Search</button>

						<br> <br>
						


					</form>
				</div>
			</div>

<form action="#" th:id="mainForm"
		th:action="@{/search/returndisplay.html}" method="POST"
		th:object="${displayItineraries}">
			<div class="container">
			<h1 id="totalPrice">Select On ward Trip Cart total</h1>
						
						<br>
				<table id="trainTest1" border="1" width="700">
					<tr>
						<th>Saver</th>
						<th>Value</th>
						<th>Flexible</th>
						<th>Business</th>
						<th>Premium</th>
					</tr>
				</table>
			</div>
			<div class="container">
		
				<th:block th:each="itinerary, itinerarystat : ${displayItineraries.oneWayTrip.fromItinerary}">
				<th:block th:each="segments, segmentstat : ${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__]}">
				<th:block th:each="journey, stat : ${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__]}">
					<br>
					<br>

					<form action="#" th:id="'form'+${stat.index}"
						th:action="@{/search/returndisplay.html}">

						<input type="hidden" th:field="*{searchModel.fromStn}">
						<input type="hidden" th:field="*{searchModel.toStn}">
						<input type="hidden" th:field="*{searchModel.departureDate}">
						<input type="hidden" th:field="*{searchModel.arrivalDate}">
						<input type="hidden" th:id="numberOfTickets" th:field="*{searchModel.numberOfTickets}">
						<input type="hidden" th:field="*{searchModel.tripType}">
						<input type="hidden" id="tripId" th:field="*{searchModel.tripId}">
						 <input type="hidden" id="price" th:field="*{searchModel.price}">

						<table>
							<tr>
								<td><span
									th:text="${'TOTAL TRAVEL TIME: ' + journey.duration}"></span>
								<td>
								<td>
								<td>
								<td>
									<button type="submit" th:id="'button_'+${stat.index}"  form="mainForm"
										onclick="selectedTrip(this.value)" th:value="${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].tripId}">ADD TO CART</button>
							<tr>
							<!-- <th:block th:each="price, classstat : ${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].prices}">
								<td><input type="radio" onclick="setCartTotal(this.value)" unchecked th:field="${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].prices}" th:value="${price}" />
								 <label th:for="${destinationAddress.destinationAddressId}" th:text="${destinationAddress}"></label>
								<label th:for="${#ids.prev('journey.prices')}" th:text="${ price}"></label>
								<span
									th:text="${price}"></span>
								</th:block> -->
								<td><input type="radio" th:id="'value'+${stat.index}" onclick="setCartTotal(this.value)"
									th:value="${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].prices[0]}" /><span
									th:text="${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].prices[0]}"></span>
									
									<td><input type="radio" th:id="'value'+${stat.index}" onclick="setCartTotal(this.value)"
									th:value="${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].prices[1]}" /><span
									th:text="${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].prices[1]}"></span>
									<td><input type="radio" th:id="'value'+${stat.index}" onclick="setCartTotal(this.value)"
									th:value="${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].prices[2]}" /><span
									th:text="${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].prices[2]}"></span>
									<td><input type="radio" th:id="'value'+${stat.index}" onclick="setCartTotal(this.value)"
									th:value="${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].prices[3]}" /><span
									th:text="${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].prices[3]}"></span>
									<td><input type="radio" th:id="'value'+${stat.index}" onclick="setCartTotal(this.value)"
									th:value="${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].prices[4]}" /><span
									th:text="${displayItineraries.oneWayTrip.fromItinerary[__${itinerarystat.index}__].segments[__${segmentstat.index}__].prices[4]}"></span>
								<!-- <td><input type="radio" th:id="'value'+${stat.index}" onclick="setCartTotal(this.value)"
									th:value="${journey.valuePrice}" /><span
									th:text="${journey.valuePrice}"></span>
								<td><input type="radio" th:id="'flexible'+${stat.index}" onclick="setCartTotal(this.value)"
									th:value="${journey.flexiblePrice}" /><span
									th:text="${journey.flexiblePrice}"></span>
								<td><input type="radio" th:id="'business'+${stat.index}" onclick="setCartTotal(this.value)"
									th:value="${journey.businessPrice}" /><span
									th:text="${journey.businessPrice}"></span>
								<td><input type="radio" th:id="'premium'+${stat.index}" onclick="setCartTotal(this.value)"
									th:value="${journey.premiumPrice}" /><span
									th:text="${journey.premiumPrice}"></span> -->
									
									 <input type="hidden"
									th:id="'tripId_'+${stat.index}" th:value="${journey.tripId}">
									<!-- <input type="text" th:id="'tripId_'+${stat.index}" th:text="${journey.tripId}"> -->
							<tr>
								<td><a href=""
									th:text="${journey.route.id +' ' + journey.route.name}"></a>
								<td>
								<td><span style="color: blue; font-size: 28px;"
									th:text="${journey.departureStation.stopId +' ('+ journey.departureStation.departure_time +')'}"></span>
								<td><span style="color: blue; font-size: 28px;"
									th:text="${journey.arrivalStation.stopId+' ('+ journey.arrivalStation.arrival_time+ ')'}"></span>
								<td><span th:text="${journey.duration}"></span>
							<tr>
								<td><a href=""
									th:text="${displayItineraries.searchModel.numberOfTickets +' Reserved Coach seats '}"></a></td>
								<td><a href=""
									th:text="${displayItineraries.searchModel.numberOfTickets +' Reserved Coach seats '}"></a></td>
								<td><a href=""
									th:text="${displayItineraries.searchModel.numberOfTickets +' Reserved Coach seats '}"></a></td>
								<td><a href=""
									th:text="${displayItineraries.searchModel.numberOfTickets +' Business Coach seats '}"></a></td>
								<td><a href=""
									th:text="${displayItineraries.searchModel.numberOfTickets +' Premium Coach seats '}"></a></td>
						</table>


					</form>
				</th:block>
			</div>
		</main>
	</form>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>
	<script type="text/javascript" src="/js/display.js"></script>
</body>
</html>