<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Train Ticket</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" />
<link rel="stylesheet" href="/css/style.css" />
</head>
<body onload="onload()">

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#">Train Ticket</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="ml-auto nav-item authenticated dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="profile-name"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
					<div class="dropdown-menu" aria-labelledby="profile-name">
						<a class="dropdown-item" href="#" onclick="logout()">Sign Out</a>
					</div></li>
				<li class="ml-auto nav-item unauthenticated"><a
					class="nav-link" href="#" data-toggle="modal"
					data-target="#signInModal">Sign In</a></li>
			</ul>
		</div>
	</nav>

	<main role="main">
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-3">Hello, world!</h1>
				<p>This is a template for a simple marketing or informational
					website. It includes a large callout called a jumbotron and three
					supporting pieces of content. Use it as a starting point to create
					something more unique.</p>
				<a role="button" class="btn btn-primary btn-lg" href="#">Learn
					More</a>
			</div>
			<br>
			<br>
			<form autocomplete="off">
				<div class="container">
					<input type="radio" id="oneway" name="tripType" value="OneWay"
						onclick="disableReturnDate()" checked> <label for="oneway">OneWay</label>
					<input type="radio" id="roundTrip" name="tripType"
						value="RoundTrip" onclick="enableReturnDate()"> <label
						for="roundTrip">RoundTrip</label> <input type="text" id="fromStn"
						name="station" size="25" list="huge_from_list"
						oninput="onFromSationKeyPress(this.value)" placeholder="From City">
					<datalist id="huge_from_list"></datalist>
					<input type="text" id="toStn" name="station" size="25"
						list="huge_to_list" oninput="onToSationKeyPress(this.value)"
						placeholder="To City">
					<datalist id="huge_to_list"></datalist>
					<input type="date" id="departureDate" style="width: 150px"
						min="setMinDate()" name="date"> <input type="date"
						id="arrivalDate" style="width: 150px" min="setMinDateForReturn()"
						name="date"> 
						
					<a href="/search/display.html"><input type="button" id="searchButton"
						name="button" value="Search"></a>
				</div>
			</form>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h2>Heading1</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce
						dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
						ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
						magna mollis euismod. Donec sed odio dui.</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View
							details »</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Heading2</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce
						dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
						ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
						magna mollis euismod. Donec sed odio dui.</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View
							details »</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Heading3</h2>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis
						in, egestas eget quam. Vestibulum id ligula porta felis euismod
						semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
						condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View
							details »</a>
					</p>
				</div>
			</div>
		</div>

		<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
			id="signInModal">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Sign In</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Get the most of our site by signing in with one of these
							supported services.</p>
						<a class="btn btn-block btn-social btn-github"
							href="/oauth2/authorization/github" role="button"> <span
							class="fa fa-github"></span> Sign in with Github
						</a> <a class="btn btn-block btn-social btn-google"
							href="/oauth2/authorization/google" role="button"> <span
							class="fa fa-google"></span> Sign in with Google
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	
</body>
</html>