<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Train Ticket</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" />
<link rel="stylesheet" href="/css/style.css" />

</head>
<body onload="onload()">

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#">Train Ticket</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="ml-auto nav-item authenticated dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="profile-name"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
					<div class="dropdown-menu" aria-labelledby="profile-name">
						<a class="dropdown-item" href="#" onclick="logout()">Sign Out</a>
					</div></li>
				<li class="ml-auto nav-item unauthenticated"><a
					class="nav-link" href="#" data-toggle="modal"
					data-target="#signInModal">Sign In</a></li>
			</ul>
		</div>
	</nav>


	<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
		id="signInModal">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Sign In</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Get the most of our site by signing in with one of these
						supported services.</p>
					<a class="btn btn-block btn-social btn-github"
						href="/oauth2/authorization/github" role="button"> <span
						class="fa fa-github"></span> Sign in with Github
					</a> <a class="btn btn-block btn-social btn-google"
						href="/oauth2/authorization/google" role="button"> <span
						class="fa fa-google"></span> Sign in with Google
					</a>
				</div>
			</div>
		</div>
	</div>


	<div id="sidebar">
		<div class="row">
			<nav>
				<br> <br> <br>

				<ul class="nav">
					<li class="nav-list"><a class="active" href="/admin"
						target="middledata">Manage Customers </a></li>
					<br>
					<br>


					<li class="nav-list"><a class="active" href="/admin/users"
						target="middledata">Manage Users</a></li>
					</br>
					</br>

					<li class="nav-list"><a class="active" href="/admin/groups"
						target="middledata">Manage Groups</a></li>
					</br>
					</br>
					<li class="nav-list"><a class="active" href="">Manage
							Iternaries</a></li>
					</br>
					</br>
					<li class="nav-list"><a class="active" href="">Manage
							Booked Tickets</a></li>
					</br>
					</br>

					<li class="nav-list"><a class="active" href="">Payment
							Configuration</a></li>

				</ul>
			</nav>
		</div>

	</div>
	
	
<!-- Manage Users -->
	<div id= "manageUsers" class="middledata">
		<div class="dropdown">
			<button class="dropbtn">
				Users <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="javascript:enableProfile()"> Profile</a> 
				<a href="javascript:enableChangePassword()">Change Password</a> 
				<a href="javascript:enableUsers()"> Users</a>
				<a href="javascript:enableCreateUsers()">Create Users</a>
			</div>

		</div>

		<div id= "editUser" >

		<h3>Edit user</h3>
		<br />

		<form id="user" action="" th:action="@{admin/users/save}" th:object="${user}"
			method="POST">

			<div class="control-group">
				<label>User name</label>
				<div class="controls">
					<input id="adminName" name="adminName" th:field="${user.username}"
						class="input-large highlight" onblur="validateCode()" type="text"
						value="admin" /> <span class="help-inline"></span>
				</div>
			</div>

			<div class="control-group">
				<label>Email</label>
				<div class="controls">
					<input id="adminEmail" name="adminEmail" th:field="*{email}"
						class="input-large highlight" type="text" value="admin@xyz.com" />
					<span class="help-inline"></span>
				</div>
			</div>




			<div class="control-group">
				<label>First name </label>
				<div class="controls">
					<input id="firstName" name="firstName" class="input-large" th:field="*{firstName}"
						type="text" value="adminFirstname" /> <span class="help-inline"></span>
				</div>
			</div>

			<div class="control-group">
				<label>Last name </label>
				<div class="controls">
					<input id="lastName" name="lastName" class="input-large" th:field="*{lastName}"
						type="text" value="adminLastname" /> <span class="help-inline"></span>
				</div>
			</div>



			<div class="control-group">
				<label>Question 1 </label>
				<div class="controls">
					<select id="question1" name="question1" th:field="*{question1}"><option
							value="What was the color of your first car?">What was
							the color of your first car?</option>
						<option value="In what city were you born?">In what city
							were you born?</option>
						<option value="What was the name of your first pet?">What
							was the name of your first pet?</option>
						<option value="What is your preferred musical genre?">What
							is your preferred musical genre?</option>
						<option value="Who was your childhood hero? ">Who was
							your childhood hero?</option>
						<option value="In what city or town was your first job?">In
							what city or town was your first job?</option>
						<option
							value="In which city did you met your spouse/significant other?">In
							which city did you met your spouse/significant other?</option>
						<option value="What was your childhood nickname?">What
							was your childhood nickname?</option></select> <input id="answer1"  th:field="*{answer1}" name="answer1"
						class="input-large" type="text" value="" /> <span
						class="help-inline"></span>
				</div>
			</div>

			<div class="control-group">
				<label>Question 2 </label>
				<div class="controls">
					<select id="question2" name="question2" th:field="*{question2}"><option
							value="What was the color of your first car?">What was
							the color of your first car?</option>
						<option value="In what city were you born?">In what city
							were you born?</option>
						<option value="What was the name of your first pet?">What
							was the name of your first pet?</option>
						<option value="What is your preferred musical genre?">What
							is your preferred musical genre?</option>
						<option value="Who was your childhood hero? ">Who was
							your childhood hero?</option>
						<option value="In what city or town was your first job?">In
							what city or town was your first job?</option>
						<option
							value="In which city did you met your spouse/significant other?">In
							which city did you met your spouse/significant other?</option>
						<option value="What was your childhood nickname?">What
							was your childhood nickname?</option></select> <input id="answer2"  th:field="*{answer2}" name="answer2"
						class="input-large" type="text" value="" /> <span
						class="help-inline"></span>
				</div>
			</div>

			<div class="control-group">
				<label>Question 3 </label>
				<div class="controls">
					<select id="question3" name="question3" th:field="*{question3}"><option
							value="What was the color of your first car?">What was
							the color of your first car?</option>
						<option value="In what city were you born?">In what city
							were you born?</option>
						<option value="What was the name of your first pet?">What
							was the name of your first pet?</option>
						<option value="What is your preferred musical genre?">What
							is your preferred musical genre?</option>
						<option value="Who was your childhood hero? ">Who was
							your childhood hero?</option>
						<option value="In what city or town was your first job?">In
							what city or town was your first job?</option>
						<option
							value="In which city did you met your spouse/significant other?">In
							which city did you met your spouse/significant other?</option>
						<option value="What was your childhood nickname?">What
							was your childhood nickname?</option></select> <input id="answer3" th:field="*{answer3}" name="answer3"
						class="input-large" type="text" value="" /> <span
						class="help-inline"></span>
				</div>
			</div>

			<input id="id" name="id" type="hidden" value="1" /> <input
				id="adminPassword" name="adminPassword" type="hidden"
				value="TRANSIENT" />


			<div class="form-actions">

				<div class="pull-left">
					<button type="submit" class="btn btn-success">Save</button>
				</div>

			</div>

		</form>
		
		</div>
		
		
		<!-- Change Password -->
		<div id="changePassword">
		<h3>Password</h3>
		<br />

		<form id="password" action="C:\Users\sound\Desktop\admin\save.html"
			method="POST">

			<div class="control-group">
				<label>Password</label>
				<div class="controls">
					<input type="password" name="password" id="password"
						cssClass="input-large highlight" /> <span class="help-inline"></span>
				</div>
			</div>

			<div class="control-group">
				<label>New password</label>
				<div class="controls">
					<input type="password" name="newPassword" id="newPassword"
						cssClass="input-large highlight" /> <span class="help-inline"></span>
				</div>
			</div>

			<div class="control-group">
				<label>Re-enter new password</label>
				<div class="controls">
					<input type="password" name="repeatPassword" id="repeatPassword"
						cssClass="input-large highlight" /> <span class="help-inline"></span>
				</div>
			</div>
			<input id="user.id" name="user.id" type="hidden" value="1" />

			<div class="form-actions">

				<div class="pull-left">
					<button type="submit" class="btn btn-success">Save</button>
				</div>

			</div>

		</form>
	</div>
		<!-- Create User -->
		<div id="createUser">
		<h3>Create user</h3>
		<br />

		<form id="user" action="" th:action="@{admin/users/save}" th:object="${user}"
			method="POST">

			<div class="control-group">
				<label>User name</label>
				<div class="controls">
					<input id="adminName" name="adminName" th:field="${user.username}"
						class="input-large highlight" onblur="validateCode()" type="text"
						value="" /> <span class="help-inline"></span>
				</div>
			</div>

			<div class="control-group">
				<label>Email</label>
				<div class="controls">
					<input id="adminEmail" name="adminEmail" th:field="*{email}"
						class="input-large highlight" type="text" value="" />
					<span class="help-inline"></span>
				</div>
			</div>




			<div class="control-group">
				<label>First name </label>
				<div class="controls">
					<input id="firstName" name="firstName" class="input-large" th:field="*{firstName}"
						type="text" value="" /> <span class="help-inline"></span>
				</div>
			</div>

			<div class="control-group">
				<label>Last name </label>
				<div class="controls">
					<input id="lastName" name="lastName" class="input-large" th:field="*{lastName}"
						type="text" value="" /> <span class="help-inline"></span>
				</div>
			</div>



			<div class="control-group">
				<label>Question 1 </label>
				<div class="controls">
					<select id="question1" name="question1" th:field="*{question1}"><option
							value="What was the color of your first car?">What was
							the color of your first car?</option>
						<option value="In what city were you born?">In what city
							were you born?</option>
						<option value="What was the name of your first pet?">What
							was the name of your first pet?</option>
						<option value="What is your preferred musical genre?">What
							is your preferred musical genre?</option>
						<option value="Who was your childhood hero? ">Who was
							your childhood hero?</option>
						<option value="In what city or town was your first job?">In
							what city or town was your first job?</option>
						<option
							value="In which city did you met your spouse/significant other?">In
							which city did you met your spouse/significant other?</option>
						<option value="What was your childhood nickname?">What
							was your childhood nickname?</option></select> <input id="answer1"  th:field="*{answer1}" name="answer1"
						class="input-large" type="text" value="" /> <span
						class="help-inline"></span>
				</div>
			</div>

			<div class="control-group">
				<label>Question 2 </label>
				<div class="controls">
					<select id="question2" name="question2" th:field="*{question2}"><option
							value="What was the color of your first car?">What was
							the color of your first car?</option>
						<option value="In what city were you born?">In what city
							were you born?</option>
						<option value="What was the name of your first pet?">What
							was the name of your first pet?</option>
						<option value="What is your preferred musical genre?">What
							is your preferred musical genre?</option>
						<option value="Who was your childhood hero? ">Who was
							your childhood hero?</option>
						<option value="In what city or town was your first job?">In
							what city or town was your first job?</option>
						<option
							value="In which city did you met your spouse/significant other?">In
							which city did you met your spouse/significant other?</option>
						<option value="What was your childhood nickname?">What
							was your childhood nickname?</option></select> <input id="answer2"  th:field="*{answer2}" name="answer2"
						class="input-large" type="text" value="" /> <span
						class="help-inline"></span>
				</div>
			</div>

			<div class="control-group">
				<label>Question 3 </label>
				<div class="controls">
					<select id="question3" name="question3" th:field="*{question3}"><option
							value="What was the color of your first car?">What was
							the color of your first car?</option>
						<option value="In what city were you born?">In what city
							were you born?</option>
						<option value="What was the name of your first pet?">What
							was the name of your first pet?</option>
						<option value="What is your preferred musical genre?">What
							is your preferred musical genre?</option>
						<option value="Who was your childhood hero? ">Who was
							your childhood hero?</option>
						<option value="In what city or town was your first job?">In
							what city or town was your first job?</option>
						<option
							value="In which city did you met your spouse/significant other?">In
							which city did you met your spouse/significant other?</option>
						<option value="What was your childhood nickname?">What
							was your childhood nickname?</option></select> <input id="answer3" th:field="*{answer3}" name="answer3"
						class="input-large" type="text" value="" /> <span
						class="help-inline"></span>
				</div>
			</div>

			<input id="id" name="id" type="hidden" value="1" /> <input
				id="adminPassword" name="adminPassword" type="hidden"
				value="TRANSIENT" />


			<div class="form-actions">

				<div class="pull-left">
					<button type="submit" class="btn btn-success">Save</button>
				</div>

			</div>

		</form>
		</div>

		<div id="listOfUsers">
		<div class="container">
		<table>
		<th>id</th>
		<th>name</th>
		<th>Email Address</th>
		<th>User Name</th>		
		<tr>
		<td>1</td>
		<td>hello</td>
		<td>hello</td>
		<td>hello</td>
		</tr>
		
		</table>
		</div>
		</div>
        </div>

			<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
			<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
			<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>
			<script type="text/javascript" src="/js/manageusers.js"></script>
</body>
</html>